// Custom styles.
// 主页文章添加阴影效果
 .post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

body {

    // background: url(/images/background.jpg);

    // background-repeat: no-repeat;

    // background-attachment: fixed;

    // background-position: 50% 50%;

    // background-size: cover;
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
}

.main-inner { 

    //margin-top: 60px;

    //margin-bottom: 60px;

    //padding: 60px 60px 60px 60px;
    //padding: 25px;

    background: #fff;

	  opacity: 1;

    min-height: 500px;

}